@charset "utf-8";

.bns_info .bns_h2 {background-size: cover;height: 260px; background-repeat:no-repeat ;
    text-align: center; padding-top: 100px; text-align: center;}
.bns_info .bns_h2 {background-image: url(../images/sub_img6.jpg);}
.bns_info .bns_h2 h2{color: #ffff; font-size: 50px;padding: 20px; text-shadow: 1px 1px 2px #333; }
.bns_info .bns_outer {padding:100px 0; }
.bns_info .bns_outer .bns_inner{position: relative; width: 100%;  }
.bns_info .bns_outer .bns_inner li {padding:50px 0; width: 100%; }
.bns_info .bns_outer .bns_inner li img {width: 35% ; border-radius: 10%;}
.bns_info .bns_outer .bns_inner li .bns_text {text-align: center;}
.bns_info .bns_outer .bns_inner li .bns_text h2 {font-size: 30px; padding: 10px; position: relative;}
.bns_info .bns_outer .bns_inner li .bns_text h2:after {content: ''; height: 2px; width:150px; position: absolute; left: 38%; bottom: 0; background: navy;}
.bns_info .bns_outer .bns_inner li .bns_text p {font-size: 18px; padding: 20px 10px;}
.bns_info .bns_outer .bns_inner li:nth-child(1) .bns_text {position: absolute; right: 0; top: 7%;}
.bns_info .bns_outer .bns_inner li:nth-child(2) {border-top: 1px solid #333;}
.bns_info .bns_outer .bns_inner li:nth-child(2) .bns_text {position: absolute; right: 0; bottom: 12%;}


