@charset "utf-8";
@import "reset.css";
@import "common.css";

/* 슬라이드 */
#section {padding-top: 10px;}
#section .slide_box { position: relative;}
#section .slide_box .slide {width:80%; height: 700px; overflow: hidden; }
#section .slide_box .slide .slide_inner
{background-size: cover; background-repeat:no-repeat; height:700px; position: relative; }

#section .slide_box .slide .slide_inner:nth-child(1) {background-image: url(../images/slide1.jpg);}
#section .slide_box .slide .slide_inner:nth-child(2) {background-image: url(../images/slide2.jpg);}
#section .slide_box .slide .slide_inner:nth-child(3) {background-image: url(../images/slide3.jpg);}

#section .slide_box .slide .slide_inner .text 
{text-align: center; position: absolute; top: 50%;
    left: 50%; transform: translate(-50%, -50%);}
#section .slide_box .slide .slide_inner .text h2
{font-size: 50px; color: #fff; padding: 20px 30px 25px;}
#section .slide_box .slide .slide_inner .text p 
{font-size: 30px; color: #fff; padding: 20px 30px 25px;}

/* 슬라이드 도트 박스*/
#section .slide_outer .slide_dotbox {position: absolute; top:90%; width: 80%; text-align: center;}
#section .slide_outer .slide_dotbox a { display: inline-block; width: 16px; height: 16px;
background-color:rgba(255, 255, 255, 0.5); border-radius: 50%; margin-right: 10px;}
#section .slide_outer .slide_dotbox a:active {border: 3px solid rgba(255, 255, 255, 1); 
width: 16px; height: 16px; }

/* 사이드 박스*/
#section .slide_box .slide_side
{width: 20%; display: block; position: absolute; top: 0; right: 0;}
#section .slide_box .slide_side .side_link {height: 700px;}
#section .slide_box .slide_side .side_link li
{background-size: cover; background-repeat:no-repeat; height:25%;}
#section .slide_box .slide_side .side_link li:nth-child(1) {background-image:url(../images/bg1.jpg) ;}
#section .slide_box .slide_side .side_link li:nth-child(2) {background-image:url(../images/bg2.jpg) ;}
#section .slide_box .slide_side .side_link li:nth-child(3) {background-image:url(../images/bg3.jpg) ;}
#section .slide_box .slide_side .side_link li:nth-child(4) {background-image:url(../images/bg4.jpg) ;}
#section .slide_box .slide_side .side_link li {font-size: 23px; text-align: center; color: #fff; }
#section .slide_box .slide_side .side_link li > a {line-height: 175px; display: block; height: 100%; background-color:rgba(0, 0, 0, 0.3); }
#section .slide_box .slide_side .side_link li:hover > a {line-height: 175px; display: block; height: 100%; background-color:rgba(0, 144, 255, 0.3) ; }

/* 비즈니스 박스*/
#section .business_info {padding-top: 50px; width: 100%; }
#section .business_info .business_box {text-align: center;}
#section .business_info .business_box li {float: left; width: 25%;  }

#section .business_info .business_box li a {display:inline-block; text-align: center; padding: 50px 0px;
font-size: 17px; font-weight: bold;}
#section .business_info .business_box li img {transition: all 0.5s;}
#section .business_info .business_box li:hover img {transform: translateY(-10%);}

/*비즈니스 박스 2*/
#section .business_info02 {background: #f0f0f0; width: 100%; padding: 60px 0 100px 0;}
#section .business_info02 .info_big01,
#section .business_info02 .info_big02 {text-align: center;}
#section .business_info02 .info_big01 .info_box, 
#section .business_info02 .info_big02 .info_box {display: inline-block;  padding:2px ;}
#section .business_info02 .info_box02
{width: 350.95px; height: 170px; background: #fff; border: 1px solid #ccc; position: relative; }
#section .business_info02 .info_box02 img 
{position: absolute; top: 50%; left: 10%; transform: translateY(-50%);}
#section .business_info02 .info_box02 h3  
{position: absolute; top: 20%; right:45%;  }
#section .business_info02 .info_box02 p
 {position: absolute; top: 50%; right:20%; transform: translateY(-50%);}

 /* 비지니스 박스 3 */
 #section .biz_box {width: 100%; padding-top:80px ; padding-bottom: 50px; }
#section .biz_box .biz_inner li { position: relative; text-align:center; }
#section .biz_box .biz_inner li > a img { transition:all 0.5s}
#section .biz_box .biz_inner li a:hover {background: red; width: 100%;}
#section .biz_box .biz_inner li > a:hover img { transform: rotate(1turn);}

#section .biz_box .biz_inner li:first-child {float: left; width:48.8% }
#section .biz_box .biz_inner li:first-child > a {display: block; transition:all 0.5s; background: no-repeat ; background-size:cover ; height: 502px; line-height:502px }
#section .biz_box .biz_inner li:first-child > a { background-image: url(../images/m01.jpg); }
#section .biz_box .biz_inner li .text { background: #f2f2f2; padding: 20px 10px; }

#section .biz_box .biz_inner li:nth-child(2) {float: right; width: 48.8%;margin-bottom:20px }
#section .biz_box .biz_inner li:nth-child(2) > a {display: block; transition:all 0.5s; background: no-repeat ; background-size:cover ; background-position:center ;  height: 200px; line-height:200px }
#section .biz_box .biz_inner li:nth-child(2) > a {background-image: url(../images/m02.jpg);}

#section .biz_box .biz_inner li:nth-child(3) {float: right; width: 48.8%; }
#section .biz_box .biz_inner li:nth-child(3) > a {display: block; transition:all 0.5s; background: no-repeat ; background-size:cover ; height: 200px; line-height:200px }
#section .biz_box .biz_inner li:nth-child(3) > a {background-image: url(../images/m03.jpg);}

 /* 동영상*/
 #section .video {max-width: 100%; position: relative;}
 #section .video a:first-child > img {width: 100%;}
 #section .video a:nth-child(2) {position: absolute; top: 50%; left: 48%; opacity: 0.5; }
 #section .video a:nth-child(2):hover {opacity: 1;}
 /*포토폴리오*/
 #section .portfolio {width: 100%; padding-top:70PX; padding-bottom:80px ;}
 #section .portfolio h1 {text-align: center; ; font-size: 40px; position: relative; padding-bottom: 10px;}
 #section .portfolio h1:after {content: ''; width: 40px; height:2px; background: #111; 
    position:absolute ; top: 100%; left: 50%; transform: translate(-50%);}
#section .portfolio p {text-align: center; padding:30px 0; font-size: 16px;}
#section .portfolio .keyword {text-align: center; padding: 30px 0px;}
#section .portfolio .keyword li 
{display: inline-block; border: 1px solid #27a4dd; color:#27a4dd; padding: 5px 10px; border-radius: 50px;}
#section .portfolio .Photo_box  {width: 235px; height: 175px; letter-spacing: 20px;}
#section .portfolio .keyword li:hover{background: #27a4dd; color: #fff;}
#section .portfolio .photo_box li img{ width: 25%; height: 25%; border-radius: 10%; border: 1px solid #fff; float: left;
padding: 10px; opacity: 0.5;}
#section .portfolio .photo_box li:hover img {opacity: 1;}
