@charset "utf-8";
@import "reset.css";
@import "common.css";




 .extra_service {background-size: cover; background-repeat:no-repeat; height: 260px; text-align: center; padding: 100px 0;}
 .extra_service {background-image: url(../images/sub_img6.jpg); margin-bottom: 100px;}
 .extra_service h1 { font-size: 50px; color: #fff; text-shadow: 1px 1px 2px #333;}

#login_section .login_box {
    padding: 217px 0 100px;
    outline: none;
    text-align: center;
}

#login_section h2 {
    
    font-size: 38px;
    padding-bottom: 30px;
}

#login_section input {width: 445px;
     height: 54px; margin: 10px 0;
      background:#f8f9fa; padding-left:1em ; border:none ;}

#login_section button {width: 445px; height: 54px; background: #3e78ff; margin: 20px 0;
color: #fff; border-radius:2px ;}
#login_section .info {margin-bottom: 100px;}
#login_section .info a {padding:0 20px; position: relative;}
#login_section .info a:before {content: '|'; position: absolute; top: 0; left: 0px;}
#login_section .info a:first-child:before {display: none;}

