@charset "utf-8";
.qnaPage { padding:136px 0px }
.qnaPage .qnaBox > h2 { text-align:center; font-size:50px; margin:50px 0px 20px }
.sbox { text-align:center }
.sbox select { height:30px; vertical-align:middle }
.sbox input[type=text] { height:30px; width:300px; text-indent:1em; 
    vertical-align:middle;  border: 1px solid gray;}
.sbox input[type=submit] { height:30px; background:#ddd; 
    padding:0 8px; border-radius:5px; vertical-align:middle  }

.qnaform {margin-top:30px;}

.qnaform .qn {
    width: 100%;
    margin:10px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 20px;
}
.qnaform .qn > a:nth-child(1) {
    font-size: 20px;
    font-weight: bold;

}
.qnaform .qnatext {
    margin-top: 20px;
}
.qnaform .qnatext > a {padding-right: 5px; position: relative;}
.qnaform .qnatext > a::before{
    content: "|"; font-size: 10px; position: absolute; top: 50%; left: -6px; transform: translateY(-50%);}
.qnaform .qnatext > a:first-child:before {display: none;}

.qnanum  {text-align: center;  padding-top: 30px;}
.qnanum a {padding: 10px; border: 1px solid #ddd;} 


@media screen and (max-width:400px){
    .sbox select { height:30px; vertical-align:none; width: 300px; margin-bottom:10px ; }
    .sbox input[type=text] { height:30px; width:300px; text-indent:1em; 
        vertical-align:none;  border: 1px solid gray; margin-bottom: 10px;}
    .sbox input[type=submit] { height:30px; width: 300px; background:#ddd; 
            padding:0 8px; border-radius:5px; vertical-align:middle  }
    .qnaform .qnatext a {
                display: block;
    }
     
    .qnaform .qnatext > a::before{
                content: "|"; font-size: 10px;
                 position: absolute; top: 50%; 
                 left: -6px; transform: translateY(-50%);
                display: none;}



    .qnanum a:nth-child(2),
    .qnanum a:nth-child(3),
    .qnanum a:nth-child(4),
    .qnanum a:nth-child(5),
    .qnanum a:nth-child(6){display: none;}
           
        

  

}