@charset "utf-8";
@media screen and (max-width:1166px) {
    #header .topmenu .logo {float: left; padding:10px 20px }
  
}
@media screen and (max-width:1100px) {
    #footer .company_info .company_box .company {
        position: absolute;
         top: 0%; left: 20px; }
}

@media screen and (max-width:1024px) {
    #header .topmenu .logo {float: left; padding:10px 15px }
    #header .topmenu .menubox .depth1 > li {
        display: inline-block;
        padding: 25px 15px;  
        position: relative; 
        transition: all 0.5s;
    }
    #section .business_info02 .info_big01 .info_box, 
    #section .business_info02 .info_big02 .info_box {display: block;  padding:2px ;}

}

@media screen and (max-width:767px) {
    #header .topmenu .menubox {
        display: block;
        position: relative; 
        display: none; }
    
 #header .topmenu .open_nav{display: block;}
 #header .topmenu .close_nav{display: none;}
   
}